span {
    color: blueviolet;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;

}




.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;


}

.half-width img {
    width: 70%
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5%;
    background-image: linear-gradient(orange, tomato);
    color: white;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Dream-Big {
    display: flex;
}

h3 {
    font-size: 20px;
}

.Dream-Big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.pe-ter {
    color: royalblue;
}

.experience-item {
    box-shadow: 10px 10px 40px blue;
    width: 40%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
    border-left: 7px solid red;

}

.Experiences-Area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;


}

#mo-tion {
    border-left: 7px solid rgb(95, 245, 9);

}

footer p {
    text-align: center;
}